/*--------------ENCABEZADO-------------------------*/
.logo{
	display: inline-block !important;
	left: 10px !important;
	position: absolute!important;
	top: 4px !important;
}

.opciones{
	/*botones de ayuda o de logaut */
	display: inline-block!important;
	position: absolute!important;
	right: 10px !important;
	top: 15px !important;
}

.imagenes-bloque{
	/*poner cualquier imagen en bloque*/
	display: block !important;
}

.opciones-nav{
	height: 75px !important;
}

.header-pers{
	color: #fff !important;
	position: relative !important;
	top: 8px !important;
	left: 130% !important;
	font-size: 20px !important;
}

/* ------------PIE DE PAGINA------------------------*/


.color-footer {
    background-color: #000000 !important;
    color: #fff !important;
}

.footer-down{
	position: relative !important;
	width: 100% !important;
	height: 40px !important;
}

.footer-contenido{
	position: relative !important;
	top: 10px !important;
	left: 20px !important;
	width: 100% !important;
	font-size: 15px !important;

}

/*---contenido modal----*/
.contenido-modal{
	position: relative;
	left: 35px;
}
.encabezado-modal{
	position: relative;
	left: 3%;
}



/*---------login--------------*/
.centrar-login{
	position: relative !important;
	left: 20%;
}

.tamanio-input-login{
	width:355px !important;
}

.mejora-boton-login{
	width:100px !important;
	position: relative!important;
	left: 30% !important;
}

.error-ingreso{
	color: #D51111;
	font-size: 16px;
	padding: 10px;
	position: relative;
	left: 40%;
}

.aaa{
	display: block;
	padding-left: 30%;
}

/*-----permiso Empleado (PE)---------------*/
.cuerpo-PE{
	position: relative!important;
	top: 60px!important;	

}

.tam-boton-PE{
	width: 200px !important;
	height: 35px;
}


 .ayuda-PE{
 	position: absolute;
 	right: 10px;
 	top: 14px;
 }
 	
 .cerrar-PE{
 	position: absolute;
 	right: 45px;
 }

.modal-grande{
	width: 70%!important;
}

/*opciones en el navbar*/
.menu1{ /*notificacion*/
	display: inline;
}
.menu2{/*ayuda*/
	display: inline;
}
.menu3{/*cerrar sesion*/
	display: inline;
}


 /*----------permiso jefe (PJ)---------*/


.lista-permiso-JF{
	position: relative!important;
	right: 0!important;
	top: -8px;
}


.posicion-botones-JE{
	position: absolute;
	left: 15%;
	top: 40%;
}

/*-------------------------------------permiso personal (PP)-------------------------------*/
/*-----------------------------------------------------------------------------------------*/
.centrar-encabezado{
	position: relative;
	left: 10%;
}

.linea{
	position: relative;
	top: -5px;
}
.opciones-PP{
	/*contenedor de lado izquierdo, donde estan los botones*/
	width: 500px;
	margin: 20px;
	margin-right: 10%;
}
.tam-boton-PP{
	/*botenes de lado izquierdo*/
	width: 200px !important;
	height: 35px;
	font-size: 16px;
}

.lista-permiso-PP{
	/*contedor de lado derecho, el buscador de persmisos y la lista de permisos*/
	position: relative!important;
	right: 0!important;
	top: -8px;
	width: 500px;
}

.tam-buscar{
	/*input para buscar*/
	position: relative;
	width: 150px;
	left: 210px;
	top: -30px;
}

.btn-lupa-PP{
	background-image: url(../Imagenes/Lupa.png);
	background-size: 30px;
	background-color: #337AB7;
	background-repeat:no-repeat;
  	height:35px;
  	width:35px;
  	background-position:center; 
  	border-radius: 5px;
  	position: relative;
  	left: 364px;
  	top: -65px;
  	border: none;
}
.ubica-lupa{
	position: absolute;
	left: 380px;
	top:81px;
}



.lista-PP{
	/*contenedor de la lista de permisos*/
	width: 300px;
	position: relative;
	left: 15%;
}
.paginacion-PP{
	/* contenedor de la paginacion*/
	position: relative;
	left: 15%;
	width: 400px;
}


/*-------------modal Pedir Permiso--------------------*/
/*----------------------------------------------------*/
.input-date{
	width: 150px;
}
.input-hora-minuto{
	width: 70px;
	margin-right:10px;
}

.centrar-modal{
	/*centrar contenido del modal*/
	position: relative;
	left: 250px
}
.contenedor-date{
	/*contenedor de las fechas y horas*/
	position: relative;
	left: 280px;
	width: 550px;
}
.fechaInicio{
	width: 180px;
	position: relative;
	left: 10px;
}

.horaInicio{
	width: 80px; 
	position: absolute;
	left: 200px;
	top:0px;
}

.minutosInicio{
	width: 80px; 
	position: absolute;
	left: 300px;
	top:0px;
}


.fechaFin{
	width: 180px;
	position: relative;
	left: 10px;
}

.horaFin{
	width: 80px; 
	position: absolute;
	left: 200px;
	top: 83px;
	
}

.minutosFin{
	width: 80px; 
	position: absolute;
	left: 300px;
	top: 83px;
}

.ausencia-jefe{
	width: 220px;
}


.check-dias{
	position: relative;
	left: 35%;
	top: -10px;
}

.tabla-dia{

	width: 400px;
	padding-left: 20px;
	position: relative;
	left: 273px;
}
.tabla-hora{
	
	width: 250px;
	padding-left: 20px;
	position: relative;
	left: 330px;
	top: 10px;
}

.cont-mensaje{
	position: relative;
	left: 250px;
}


/* aceptar permiso jefe APJ*/
.cuerpo-APJ{
	width: 90%!important;
	position: relative;
	top: 20px;
}

.section-APJ{
	width: 90%;
	height: 65%;
	position: relative;
	left: 5%;
}
.datos1-APJ{
	width: 90%;
	position: absolute;
	left:0;
}
.datos2-APJ{
	width: 50%;
	position: relative;
	left: 50%;
	
}

.datos3-APJ{
	width: 50%;
	position: relative;
	left: 50%;
	
}

/*----Administrar sistema---*/
.administrar-dd{
	/*dropdown*/
	width: 157px;
}

.caret-dd{
	position: relative;
	left: 30px;
}


/*----------------------------------------GENERALES-------------------------------*/
/*--------------------------------------------------------------------------------*/
.nombre-empleado{
	position: relative;
	top: 20px;
	right: 60%;
}

.mensaje-rojo{
	color: red;
}
.alerta-roja{
	color: red;
	width: 500px;
	position: absolute;
	right: 0px;
	top: 300px;
}
.tema{
	/*tema de lista de solicitudes de permiso, en jefe y personal */
	position: relative;
	top: 12px;
}
.btn-lupa{
	background: #337ab7;
	border-color: #2e6da4;
	border-radius: 5px;
	
}

.btn-lupa:hover{
	background: #286090;
	border-color: #122b40;
	border-radius: 5px;
}

.btn-volver{
	background: #337ab7;
	border-color: #2e6da4;
	border-radius: 5px;
}
.btn-volver:hover{
	background:  #286090;
	border-color: #2e6da4;
	border-radius: 5px;
}
.ubica-volver{
	/*ubicacion del boton volver*/
	position: absolute;
	left: 400px;
}
dd{
	font-weight: bold;
}

/*--------------------ADMINISTRADOR  A------------------------------*/
/*---------------------------------------------------------------*/
/*--------------------HORARIOS H-----------*/
/*crear horario*/
.minutosI{
	position: absolute;
	left: 90px;
	top: 0px;

}
.minutoF{
	position: absolute;
	left: 90px;
	top: 85px;
}

.tiempo-AH{ /*administrar horario*/
	position: relative;
	left: 100px;
}

/*------------------USUARIO U---------------*/
/*crear usuario*/
.input-busca-AU{
	width: 200px;
}

.div-input-AU{
position: relative;
left: 15%;
}
.div-btn-buscar-AU{
	position:absolute;
	left: 71%;
	top: 78px;
}

.usuarioBuscado{
	color: green;
	font-weight: bold;
	font-size: 16px;
}
/*dar de baja usuario*/
.instrucciones-AU{
	padding-bottom: 20px;
	font-size: 18px;
	text-align: center;
	width: 700px;
}
.contenedo-dar-baja{
}
.buscador-baja{
	width: 400px;
	position: relative;
	left: 170px; 
}

.label-baja{
	display:inline;
}
.input-baja{
	width: 150px;
	display: inline;
}
.buscar-baja{
	display: inline;
}

.pregunta-nombre-baja{
	width: 500px !important;
	position: relative;
	left: 100px;
	text-align: center;
}
.si-no-baja{
	width: 105px;
	position: relative;
	left: 297.5px;
}
/*modificar usuario*/
.contenedor-dropdown{
	width: 220px;
	position: relative;
	left: 250px;
}





/*---------------------PERMISOS P*------------/
/*modificar permiso*/
.instrucciones-AP{
	position: relative;
	left: 30%;
	padding-bottom: 20px;
	font-size: 18px;
}
.contenedor-AP{
	position: relative;
	left: 23%;
	top: -8px;
	width: 700px;

}
.buscador-AP{
/*contenedor del input y boton de busqueda*/
	width: 700px;
	position: relative;
	left: 5%;
	height: 50px;
}

.tam-buscar-AP{
		/*input para buscar*/
	position: relative;
	width: 350px;
	display: inline;

}
.ubica-lupa-AP{
	position: relative;
	display: inline;

}
.lista-AP{
	width: 350px;
	position: relative;
	left: 25%;
	top:60px;
}
.modicar-AP{
	position: relative;
	top: 10px;
	width: 600px;
	padding-bottom: 20px;
}
.btn-modif-AP{
	position: relative;
	display: block;
	width: 100px;
	left: 250px;
}
.label-modif-AP{
	color: green;
	font-weight: bold;
	font-size: 16px;
	width: 700px;
	text-align: center;
}










/* quitar felchas a un input type= number*/
input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

input[type=number] {

    -moz-appearance:textfield;

}
/*------------------------------------------*/
